<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" id="navBrand" href="index.ejs">
            <img src="/assets/navLogo.png" height="50" width="150" alt="nav logo">
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Gallery</a>
                </li>
            </ul>
            <hr class="line my-3 shadow-lg">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="hiddenLogo">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <img src="/assets/navLogo.png" height="50" width="150" alt="nav logo">
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="mailto:stephenbrooks714@gmail.com">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Catalog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>